.authors-section {
  width: 100%;
}

.authors-section__title {
  font: var(--font-h2);
  color: var(--text-primary);
  text-align: center;
  padding-bottom: 48px;
}

.authors-section__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding: 0 80px;
}

.author-card {
  height: 324px;
  background: var(--post-card);
  border: 1px solid rgb(109 110 118 / 30%);
  padding: 40px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.author-card:hover {
  background: var(--block-hover);
  border-color: var(--border);
}

.author-card__photo {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-card__image {
  object-fit: contain;
}

.author-card__name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 143%;
  letter-spacing: -0.04em;
  color: var(--text-primary);
  padding-bottom: 8px;
}

.author-card__status {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--color-medium-grey);
  padding-bottom: 20px;
}

.author-card__social {
  width: 112px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autor-social {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  width: 16px;
  height: 16px;
}

.autor-social:hover {
  opacity: 0.7;
}

/* ===== МЕДИА ЗАПРОСЫ ДЛЯ AUTORS SECTION ===== */
@media (width <= 1290px) {
  .authors-section__grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (width <= 768px) {
  .authors-section__grid {
    grid-template-columns: 1fr;
  }

  .author-card__name {
    font-size: 15px;
  }
}
