main {
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.section-py-128 {
  padding-top: 128px;
}

.section-py-96 {
  padding-top: 96px;
}

/* .skipcontainer {
  height: 128px;
}

.skipcontainer96 {
  height: 96px;
} */
