.story-section {
  width: 100%;
}

.story-section__content {
  padding: 0 80px;
  display: flex;
  align-items: center;
  position: relative;
}

.story-section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Правая часть - перекрывающий контейнер */
.story-section__info {
  width: calc(50% - 80px); /* Вычитаем правый padding родителя */
  background: var(--post-card);
  position: absolute;
  right: 80px; /* Учитываем padding родителя */
  bottom: 0;
  padding: 5vw 0 5vw 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.story-section__label {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  color: var(--text-primary);
  padding-bottom: 24px;
  display: block;
}

.story-section__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: -0.04em;
  color: var(--text-primary);
  padding-bottom: 16px;
}

.story-section__description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: var(--color-medium-grey);
  padding-bottom: 32px;
}

.button--discover {
  background: var(--color-yellow);
  color: var(--color-black);
  padding: 16px 11%;
  width: 55%;
  height: 56px;
  border: none;
  font: var(--font-label);
  font-weight: 800;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.button--discover:hover {
  background: #e6b800;
}

.button__arrow {
  font-weight: 700;
}

/* ===== МЕДИА ЗАПРОСЫ ДЛЯ STORY SECTION ===== */
@media (width <= 1290px) {
  .story-section__image {
    width: 60%;
  }

  .story-section__info {
    width: 55%;
    padding: 20px;
  }

  .story-section__title {
    font-size: 30px;
  }
}

@media (width <= 1020px) {
  .story-section__info {
    width: 60%;
    padding: 20px;
  }

  .story-section__title {
    font-size: 15px;
  }

  .story-section__label {
    font-size: 15px;
  }

  .story-section__description {
    font-size: 10px;
  }
}

@media (width <= 768px) {
  .story-section__content {
    padding: 40px 20px;
    flex-direction: column;
    height: auto;
  }

  .story-section__image,
  .story-section__info {
    position: static;
    width: 100%;
    height: auto;
    transform: none;
  }

  .story-section__info {
    padding-top: -100px;
  }

  .story-section__title {
    font-size: 20px;
  }

  .story-section__label {
    font-size: 20px;
  }

  .story-section__description {
    font-size: 15px;
  }
}
