[data-theme='dark'] {
  color-scheme: dark;

  --bg-primary: var(--color-total-black);
  --text-primary: var(--color-white);
  --block-hover: var(--color-dark-grey);
  --post-card: rgb(18 18 18);
  --containerabout: var(--color-dark-grey);
  --border: var(--color-purple);
  --border-color: rgb(255 255 255 / 10%);
}

/* :root {
  color-scheme: dark;

  --color-primary: var(--color-black);
  --color-secondary: var(--color-white);
} */
